<form action="" class="product-modal" data-id={{_id}} data-userId={{userId}}>
    <h3 class="product-modal__title">{{title}}</h3>
    <p class="product-modal__code-product">Код товару | {{_id}}</p>
    <button class="product-modal__box-img">
        <img class="product-modal__img js-product-modal__img-big" src={{imageUrls.[0]}} alt="{{description}}">
    </button>
    <div class="product-modal__box-img-small">
        {{#each imageUrls}}
        <button
            class="product-modal__box-img-small-btn {{#if @first}} product-modal__box-img-small-btn--accent {{/if}} "
            data-index="{{@index}}">
            <img class=" product-modal__img" src={{this}} alt="{{description}}">
        </button>
        {{/each}}
    </div>
    <div class=" product-modal__info-box">
        <span class="product-modal__price--sale">{{price}} грн</span>
        <button class="product-modal__btn--on-click visually-hidden js-product-modal__btn--on-click">
            <div>
                <span class="product-modal__btn--on-click-mail"></span>
                <span class="product-modal__btn--on-click-date"></span>
            </div>
            <span class="product-modal__btn--on-click-phone">{{phone}}</span>
        </button>
        <button class="product-modal__btn  js-product-modal__btn--less-on-click">інформація про
            продавця</button>
        <div class="product-modal__btn-group">
            <button class="product-modal__favorite-btn js-favorite-product-modal-btn">
                <h4>В обране</h4>
                <i class="material-icons product-modal__favorite-icon">
                    favorite_border
                </i>
            </button>
            <button class="product-modal__share-btn js-share-product-modal-btn">
                <h4>Поділитися</h4>
                <i class="material-icons product-modal__share-icon">
                    share
                </i>
            </button>
        </div>
        <h4>Опис:</h4>
        <span class=" product-modal__description">{{description}}</span>
    </div>
</form>